<section id="admin-register-section">
  <div class="admin-form-container">
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" class="admin-form">
      <h1>Nuevo Administrador</h1>
      <p class="subtitle">Creá un acceso administrativo al sistema Pet Society.</p>

      <div class="form-group">
        <input type="text" placeholder="Nombre" formControlName="name" />
      </div>
      @if (adminForm.get('name')?.errors && adminForm.get('name')?.touched) {
        <small class="error">El nombre es obligatorio (2 a 50 caracteres).</small>
      }

      <div class="form-group">
        <input type="text" placeholder="Apellido" formControlName="surname" />
      </div>
      @if (adminForm.get('surname')?.errors && adminForm.get('surname')?.touched) {
        <small class="error">El apellido es obligatorio (2 a 50 caracteres).</small>
      }

      <div class="form-group">
        <input type="text" placeholder="Teléfono" formControlName="phone" />
      </div>
      @if (adminForm.get('phone')?.errors && adminForm.get('phone')?.touched) {
        <small class="error">Debe tener entre 9 y 20 dígitos.</small>
      }

      <div class="form-group">
        <input type="text" placeholder="DNI" formControlName="dni" />
      </div>
      @if (adminForm.get('dni')?.errors && adminForm.get('dni')?.touched) {
        <small class="error">Debe tener entre 7 y 8 dígitos.</small>
      }

      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
      </div>
      @if (adminForm.get('email')?.errors && adminForm.get('email')?.touched) {
        <small class="error">El formato del email es incorrecto.</small>
      }

      <div class="form-group">
        <input type="text" placeholder="Usuario" formControlName="username" />
      </div>
      @if (adminForm.get('username')?.errors && adminForm.get('username')?.touched) {
        <small class="error">El nombre de usuario es obligatorio.</small>
      }

      <div class="form-group">
        <input type="password" placeholder="Contraseña" formControlName="password" />
      </div>
      @if (adminForm.get('password')?.errors && adminForm.get('password')?.touched) {
        <small class="error">Debe tener entre 2 y 50 caracteres.</small>
      }

      <button type="submit" [disabled]="adminForm.invalid" class="btn-submit">
        Crear administrador
      </button>

      <p class="back">
        <a routerLink="/admin/home">⬅ Volver al panel</a>
      </p>
    </form>
  </div>
</section>
