<section id="appointment-container-all">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <h1>Agendar Nueva Cita</h1>

    <div class="input-wrapper">
      <label for="doctor" class="input-label">Doctor</label>
      <select id="doctor" class="custom-input" formControlName="doctor">
        <option [ngValue]="null" disabled>Elige un Doctor</option>
        @for (doctor of doctors; track doctor) {
          <option [ngValue]="doctor" [title]="doctor.name + ' ' + doctor.surname">
            {{ doctor.name }} {{ doctor.surname }}
          </option>
        }
      </select>
    </div>
    @if (appointmentForm.get('doctor')?.errors && appointmentForm.get('doctor')?.touched) {
      <div class="error-message">
        @if (appointmentForm.get('doctor')?.hasError('required')) {
          <p class="error-msg">El doctor es obligatorio.</p>
        }
      </div>
    }

    <div class="input-wrapper">
      <label for="reason" class="input-label">Razón</label>
      <select id="reason" class="custom-input" formControlName="reason">
        <option [ngValue]="null" disabled>Elige una Razón</option>
        @for (reason of reasonOptions; track reason) {
          <option [ngValue]="reason.value">{{ reason.label }}</option>
        }
      </select>
    </div>
    @if (appointmentForm.get('reason')?.errors && appointmentForm.get('reason')?.touched) {
      <div class="error-message">
        @if (appointmentForm.get('reason')?.hasError('required')) {
          <p class="error-msg">La razón es obligatoria.</p>
        }
      </div>
    }

    <div class="input-wrapper">
      <label for="startTime" class="input-label">Hora de inicio</label>
      <input id="startTime" type="datetime-local" class="custom-input" formControlName="startTime">
    </div>
    @if (appointmentForm.get('startTime')?.touched) {
      <div class="error-message">
        @if (appointmentForm.get('startTime')?.hasError('required')) {
          <p class="error-msg">La hora de inicio es obligatoria.</p>
        }
        @if (appointmentForm.get('startTime')?.hasError('pastDate')) {
          <p class="error-msg">La fecha u hora ingresada son incorrectas.</p>
        }
      </div>
    }

    <div class="input-wrapper">
      <label for="endTime" class="input-label">Hora de fin</label>
      <input id="endTime" type="datetime-local" class="custom-input" formControlName="endTime">
    </div>
    @if (appointmentForm.get('endTime')?.touched) {
      <div class="error-message">
        @if (appointmentForm.get('endTime')?.hasError('required')) {
          <p class="error-msg">La hora de fin es obligatoria.</p>
        }
      </div>
    }

    @if (appointmentForm.errors?.['endBeforeStart']) {
      <div class="error-message">
        <p class="error-msg">La hora de fin debe ser posterior a la hora de inicio.</p>
      </div>
    }

    <button class="register-btn" type="submit" [disabled]="appointmentForm.invalid">
      Agendar Cita
    </button>
  </form>
</section>
