<section id="appointment-container-all">
  <div class="logo-background">
    <img src="/assets/images/logo.png" alt="Pet Society Logo" id="img-logo">
  </div>

  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <h1>Agendar Nueva Cita</h1>

    <div class="input-wrapper">
      <select id="doctor" class="custom-input" formControlName="doctor">
        <option [ngValue]="null" disabled>Elige un Doctor</option>
        <option *ngFor="let doctor of doctors" [ngValue]="doctor">{{ doctor.name }}</option>
      </select>
    </div>
    <div class="error-message" *ngIf="appointmentForm.get('doctor')?.errors && appointmentForm.get('doctor')?.touched">
      <p class="error-msg" *ngIf="appointmentForm.get('doctor')?.hasError('required')">El doctor es obligatorio.</p>
    </div>

    <div class="input-wrapper">
      <select id="reason" class="custom-input" formControlName="reason">
        <option [ngValue]="null" disabled>Elige una Razón</option>
        <option *ngFor="let reason of reasonOptions" [ngValue]="reason.value">{{ reason.label }}</option>
      </select>
    </div>
    <div class="error-message" *ngIf="appointmentForm.get('reason')?.errors && appointmentForm.get('reason')?.touched">
      <p class="error-msg" *ngIf="appointmentForm.get('reason')?.hasError('required')">La razón es obligatoria.</p>
    </div>

    <div class="input-wrapper">
      <input type="datetime-local" class="custom-input" placeholder="Hora de Inicio" formControlName="startTime">
    </div>
    <div class="error-message" *ngIf="appointmentForm.get('startTime')?.touched">
      <p class="error-msg" *ngIf="appointmentForm.get('startTime')?.hasError('required')">La hora de inicio es obligatoria.</p>
      <p class="error-msg" *ngIf="appointmentForm.get('startTime')?.hasError('pastDate')">La fecha u hora ingresada son incorrectas</p>
    </div>

    <div class="input-wrapper">
      <input type="datetime-local" class="custom-input" placeholder="Hora de Fin" formControlName="endTime">
    </div>
    <div class="error-message" *ngIf="appointmentForm.get('endTime')?.touched">
      <p class="error-msg" *ngIf="appointmentForm.get('endTime')?.hasError('required')">La hora de fin es obligatoria.</p>
    </div>

    <div class="error-message" *ngIf="appointmentForm.errors?.['endBeforeStart']">
      <p class="error-msg">La hora de fin debe ser posterior a la hora de inicio.</p>
    </div>

    <button class="register-btn" type="submit" [disabled]="appointmentForm.invalid">
      Agendar Cita
    </button>
  </form>
</section>
