#numbers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Crea una matriz de 2x2 */
  gap: 50px; /* Espacio entre las tarjetas */
  padding: 20px;
}

/* Estilos básicos para las tarjetas */
[id^="card-information-"] {
  border-radius: 8px;
  padding: 40px; /* Aumenta el padding para más espacio interno */
  text-align: center;
  color: white; /* Color de texto blanco para mejor contraste */
  font-size: 1.5em; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
}

#main-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em; /* Título más grande */
  margin-top: 20px;
}

/* Asignación de colores a cada tarjeta */
#card-information-1 {
  background-color: #D9D9D9;
  color: #333; /* Color de texto oscuro para fondo claro */
}

#card-information-2 {
  background-color: #F2AE56;
}

#card-information-3 {
  background-color: #45AFDE;
}

#card-information-4 {
  background-color: #DA6B43;
}

#card-information-5 {
  grid-column: 1 / -1; /* La quinta tarjeta ocupa todo el ancho */
  background-color: #f0f0f0; /* Un color neutro */
  color: #333;
}

#card-information-5.clickable {
  cursor: pointer;
  transition: all 0.3s ease;
}

#card-information-5.clickable:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#card-information-5 h3 {
  margin-bottom: 20px;
}

#card-information-5 p {
  font-size: 0.8em;
  margin: 10px 0;
  text-align: left;
}

#card-information-5 span {
  font-weight: normal;
}

.no-appointment-message {
  text-align: center !important;
  font-style: italic;
  color: #666;
  margin-top: 20px !important;
  font-size: 1em !important;
}
