<div class="profile-section">
  <form [formGroup]="editForm" class="edit-form">
    <div class="form-field">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-input">
      @if (editForm.get('nombre')?.invalid && editForm.get('nombre')?.touched) {<div class="error-message">
                    @if (editForm.get('nombre')?.hasError('required')) {
                      <p class="error-msg">El nombre es obligatorio.</p>
                    } @else if (editForm.get('nombre')?.hasError('invalidName')) {
                      <p class="error-msg">El nombre solo puede contener letras, espacios, ñ y tildes.</p>
                    } @else if (editForm.get('nombre')?.hasError('minlength') || editForm.get('nombre')?.hasError('maxlength')) {
                      <p class="error-msg">El nombre debe tener entre 2 y 50 caracteres.</p>
                    }
                  </div>
      }
    </div>

    <div class="form-field">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" formControlName="apellido" class="form-input">
      @if (editForm.get('apellido')?.invalid && editForm.get('apellido')?.touched) {
        <div class="error-message">
                    @if (editForm.get('apellido')?.hasError('required')) {
                      <p class="error-msg">El apellido es obligatorio.</p>
                    } @else if (editForm.get('apellido')?.hasError('invalidName')) {
                      <p class="error-msg">El apellido solo puede contener letras, espacios, ñ y tildes.</p>
                    } @else if (editForm.get('apellido')?.hasError('minlength') || editForm.get('apellido')?.hasError('maxlength')) {
                      <p class="error-msg">El apellido debe tener entre 2 y 50 caracteres.</p>
                    }
                  </div>
      }
      @else if (editForm.get('apellido')?.hasError('invalidName')) {
                      <p class="error-msg">El apellido solo puede contener letras, espacios, ñ y tildes.</p>
      }
    </div>

    <div class="form-field">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" formControlName="dni" class="form-input" maxlength="8">
      @if (editForm.get('dni')?.invalid && editForm.get('dni')?.touched) {
        <small class="error-message">El DNI debe tener 7 u 8 dígitos</small>
      }
    </div>

    <div class="form-field">
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" formControlName="telefono" class="form-input" maxlength="10">
      @if (editForm.get('telefono')?.invalid && editForm.get('telefono')?.touched) {
        <small class="error-message">El teléfono debe tener 10 dígitos</small>
      }
    </div>

    
    <div class="form-actions">
      <button type="button" class="btn btn-cancel" (click)="cancel.emit()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="save.emit()">Aceptar</button>
    </div>
  </form>
</div>

