header {
  background-color: rgb(129, 183, 69);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px; 
  width: 100%;
  height: 80px; 
  box-sizing: border-box;
  gap: 60px; 
}

nav {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
}

nav ul {
  display: flex;
  gap: 40px; 
  list-style: none; 
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#logo-background {
  height: 60px;
  width: auto;
}

.buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
