<header>
  <div>
    <img id="logo-background" src="/assets/images/logo.png" alt="Logo">
  </div>

  <nav>
    <ul class="buttons">
      <li><a routerLink="/admin/home">Inicio</a></li>

      <!-- Dropdown Citas -->
      <li class="dropdown-container">
        <a>Citas ▾</a>
        <ul class="dropdown">
          <li><a routerLink="/appointment/create">Crear cita programada</a></li><li><a routerLink="/appointment/list">Citas disponibles</a></li>
        </ul>
      </li>

      <!-- Dropdown Doctores -->
      <li class="dropdown-container">
        <a>Doctores ▾</a>
        <ul class="dropdown">
          <li><a routerLink="/doctor/list">Listar doctores</a></li><li><a routerLink="register/new/doctor">Agregar doctor</a></li>
        </ul>
      </li>

      <!-- Dropdown Configuración -->
      <li class="dropdown-container">
        <a>Configuración ▾</a>
        <ul class="dropdown">
          <li><a routerLink="register/new/admin">Agregar administrador</a></li>
        </ul>
      </li>

      <li><a routerLink="/logout" (click)="logout()">Salir</a></li>
    </ul>
  </nav>
</header>
