<header>
    <div >
        <img id="logo-background" src="/assets/images/logo.png" alt="">
    </div>
    <nav>
        <ul class="buttons">
            <li><a routerLink="/admin/home">Inicio</a></li>
            <li><a routerLink="/appointment/create">Crear citas programadas</a></li>
            <li><a routerLink="/appointment/list">Citas disponibles</a></li>
            <li><a routerLink="">Staff medico</a></li>
            <li><a routerLink="">Configuracion</a></li>
            <li><a routerLink="">Salir</a></li>
        </ul>
    </nav>
</header>