<header>
  <div>
    <img id="logo-background" src="/assets/images/logo.png" alt="Logo">
  </div>

  <nav>
    <ul class="buttons">
      <li><a routerLink="/admin/home">Inicio</a></li>

      <!-- Dropdown Citas -->
      <li class="dropdown-container">
        <a>Citas ▾</a>
        <ul class="dropdown">
          <li><a routerLink="/appointment/create">Crear cita programada</a></li>
          <li><a routerLink="/appointment/list">Listado de citas</a></li>
        </ul>
      </li>

      <!-- Dropdown Doctores -->
      <li class="dropdown-container">
        <a>Doctores ▾</a>
        <ul class="dropdown">
          <li><a routerLink="register/new/doctor">Agregar doctor</a></li>
          <li><a routerLink="/doctor/list">Listar doctores activos</a></li>
          <li><a routerLink="/doctor/list/inactive">Listar doctores dados de baja</a></li>
        </ul>
      </li>

      <!-- Dropdown Clientes -->
      <li class="dropdown-container">
        <a>Clientes ▾</a>
        <ul class="dropdown">
          <li><a routerLink="register/new/client/admin">Agregar cliente</a></li>
          <li><a routerLink="/client/list">Listar clientes activos</a></li>
          <li><a routerLink="/client/list/inactive">Listar clientes dados de baja</a></li>
        </ul>
      </li>

      <!-- Dropdown Configuración -->
      <li class="dropdown-container">
        <a>Administradores ▾</a>
        <ul class="dropdown">
          <li><a routerLink="register/new/admin">Agregar administrador</a></li>
        </ul>
      </li>

      <li><a routerLink="/logout" (click)="logout()">Salir</a></li>
    </ul>
  </nav>
</header>
